<div class="px-4 mx-auto flex flex-col">
  <div class="flex items-center gap-x-3">
    <h2 class="text-lg font-medium text-gray-800 dark:text-white">Competitions</h2>

    <span
      class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">{{ totalElements }}
      competition
    </span>

    <select
      id="pageSize"
      (change)="onPageSizeChange($event)"
      class="px-4 py-2 text-sm border border-gray-300 rounded-md bg-white text-gray-700  shadow-sm dark:text-gray-300 dark:bg-gray-800"
    >
      <option value="10" selected>10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>

    <a routerLink="/dashboard/competitions/create" class="ml-auto">
      <app-create-btn [entity]="'Competition'"></app-create-btn>
    </a>
  </div>

  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 h-full">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div
          class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg overflow-y-scroll overflow-x-hidden max-h-[30rem]">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">

            <thead class="bg-gray-50 dark:bg-gray-800">
            <tr>
              <th scope="col"
                  class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <div class="flex items-center gap-x-3">
                  <span>Code</span>
                </div>
              </th>

              <th scope="col"
                  class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <button class="flex items-center gap-x-2">
                  <span>Date</span>
                </button>
              </th>

              <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                Location
              </th>

              <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <button class="flex items-center gap-x-2">
                  <span>Registration</span>
                </button>
              </th>

              <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <button class="flex items-center gap-x-2">
                  <span>Species Type</span>
                </button>
              </th>

              <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <button class="flex items-center gap-x-2">
                  <span>participates</span>
                </button>
              </th>

              <th scope="col" class="relative py-3.5 px-4">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
            </thead>

            <tbody *ngIf="loading">
            <tr>
              <td colspan="7" class="text-center py-4 w-full">
                <app-table-loader></app-table-loader>
              </td>
            </tr>
            </tbody>
            <tbody
              *ngIf="!loading"
              class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900 max-h-40">
            <tr *ngFor="let competition of competitions">
              <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap dark:text-gray-300">
                <div class="inline-flex items-center gap-x-3">
                  <div class="flex items-center gap-x-2 font-bold">
                    {{ competition.code }}
                  </div>
                </div>
              </td>
              <td class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                       xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>
                  <h2 class="text-sm font-normal text-gray-800 dark:text-gray-300">
                    {{ competition.date | date }}
                  </h2>
                </div>
              </td>
              <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap flex items-center gap-1">
                <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd"
                        d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"
                        clip-rule="evenodd"/>
                </svg>
                {{ competition.location }}
              </td>
              <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                  <span [class]="competition.openRegistration ?
                        'inline-flex items-center px-2 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300' :
                        'inline-flex items-center px-2 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300'">
                    {{ competition.openRegistration ? 'Open' : 'Closed' }}
                  </span>
              </td>
              <td class="px-4 py-4 text-sm whitespace-nowrap">
                <div class="flex items-center gap-x-2">
                  <span [class]="
                      competition.speciesType === 'BIRD' ?
                        'inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300' :
                      competition.speciesType === 'SEA' ?
                        'inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300' :
                        'inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300'
                  ">
                    {{ competition.speciesType }}
                  </span>
                </div>
              </td>
              <td class="px-4 py-4 text-sm whitespace-nowrap">
                <div class="flex items-center gap-x-2">
                  <span class="text-gray-500 dark:text-gray-300">345
                    <!--                    {{ competition.participates }}  -->
                  </span>
                </div>
              </td>
              <td class="px-4 py-4 text-sm whitespace-nowrap">
                <div class="flex items-center gap-x-6">
                  <button
                    class="text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
                    </svg>
                  </button>

                  <button
                    class="text-gray-500 transition-colors duration-200 dark:hover:text-yellow-500 dark:text-gray-300 hover:text-yellow-500 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <app-pagination
    *ngIf="!loading && totalPages > 0"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
